.header{
    width: 100%;
    height: auto;
    position: relative;
    background-color: black;
    color: white;
}
.headerinner{
    overflow: hidden;
}
.headerleft{
    overflow: hidden;
    float: left;
}
.h_leftitem{
    float: left;
    text-align: center;
    padding: 10px 10px;
}
.headerright{
    overflow: hidden;
    float: right;
}
.h_rightitem{
    float: right;
    text-align: center;
    padding: 20px 30px;
}
.icon_image{
   width: 50px;
   height: 50px;
   border-radius: 40px;
   object-fit: cover;
}

input[type="checkbox"]{
    background: url(./current_user.image);
}

li {
    list-style:none;
  }
  .header-items {
    align-items: center;
    padding-right: 3%;
}
.header-item {

    display: flex;
}
.header-item a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
/* header hamburger */

#ham-menu {
    background-color: #fff; /*メニュー背景色*/
    box-sizing: border-box;
    position: absolute;
    margin: 60,0,0,0;
    right: -100%; /*メニュー横幅 width と合わせる*/
    transition: transform 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
    width: 100%; /*メニュー横幅*/
    z-index: 1000;
    text-align: center;
}
#menu-cb:checked ~ #ham-menu {
    transform: translate(-25%); /*メニュー本体横幅 width と合わせる*/
    text-align: center;
}

